<div id="message_box_success"
		 class="alert alert-success" 		 
		 style="z-index:100;display:none;position:fixed;bottom:0;right:0">
	<strong></strong>
</div>
<div id="message_box_warning"
		 class="alert alert-danger"
		 style="z-index:100;display:none;position:fixed;bottom:0;right:0">
	<strong></strong>
</div>