<button
	class="btn btn-info menu-button"
	style="position:fixed;right:12%;border:orange 4px double;z-index:9;"
	data-toggle="modal" data-target="#menu_list_fade"
	id="menu_button">
	<%=t("menu.menu")%>
</button>