<div style="position:relative;">	 
	<button class="btn btn-primary btn-lg"   		
		style="position:relative;left:10%;"
		id="other_index_button_create_account"
		onclick="location.href='/user/new'">
		<%=t("user.create_account")%>
	</button>
	<button class="btn btn-primary btn-lg"		
		style="position:absolute;right:10%;"
		id="other_index_button_login"
		onclick="location.href='/login/form'">
		<%=t("login.login")%>
	</button>
</div>	