<p class="text-center">		
	This site allow users to match each other with keywords.<br />
	You may be able to find out who have same hobbys and interests as you and 
	make friends.
</p>

<%=render partial:"other/index_button"%>

