<h3>Basic Only Service</h3>
<p>
This is a matching service,allowing users to find one another with same words set by themself.<br />
例えば、ワードの１つに”ソクラテス”と設定したユーザーは同じ、"ソクラテス”と設定したユーザーにマッチします。<br />
For example,a user who set "Socrates" as a one of words get the match of users who set "Socrates". 
</p>

<h3>How to set words</h3>
<p>	
Push "menu" button on upperleft,and select "edit word".<br />
To separate each words,add space or line breaks. 
</p>

<h3>How to match</h3>
<p>
Push "menu" button on upperleft,and select "match".<br />
After login,this page is showed.
</p>

<h3>How to edit profil,name and contact etc.</h3>
<p>
Push "menu" button on upperleft,and select "edit profile".<br />
Unless to resist at least one contact infomation,you can't communicate matched users.<br />
So Let's resist your that.
To change thumbnail,push showed thumbnail on this page.
Upload occur when a image is selected.
</p> 
<h3>Contact to manager</h3>
I'm glad you report a problem of this service to this e-mail address.<br />
<br />
<%=MyMail::AD%>
 
