<h3>基本的な唯一のサービス</h3>
<p>
同じワードを設定したユーザー同士を紐付けるマッチングサービスです。<br />
例えば、ワードの１つに”ソクラテス”と設定したユーザーは同じ、"ソクラテス”と設定したユーザーにマッチします。<br />
</p>
<h3>ワードの設定方法</h3>
<p>	
左上の"メニュー" --> ワード編集にてワードを設定することが出来ます。<br />
ワード同士の区切りはスペース、もしくは改行を使ってしてください。<br />
</p>
<h3>マッチングの方法</h3>
左上の"メニュー" --> マッチングにて他のユーザーとのマッチングが可能です。<br />
ログイン後はこのページを表示するようになっています。<br />
<h3>名前や連絡先などのプロファイルの編集方法</h3>
<p>
左上の"メニュー" --> プロファイル編集にて可能です。<br />
連絡先を書かなければマッチングしてもやり取りが出来ませんので１つは書いたほうがよいでしょう。
サムネイルの設定はサムネイル画像をクリックすることで可能です。
画像を選択した時点でアップロードされるようになってます。
</p>
<h3>運営者への連絡先</h3>
もし問題を見つけたら、こちらのメールアドレスに一報してもらえれば幸いです。<br />
<br />
<%=MyMail::AD%>

